<div class="height_fill"></div>
<br><br>
<section id="contact" class="contact-us">
  <div class="parallax">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-10 col-center">
          <h2 class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;"> Contact Us</h2>
          <p class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Feel free to drop us a line below. We will get back to you at the earliest</p>
        </div>
      </div>
      <div class="contact-form">
        <div class="row">
          <div class="col-sm-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <form action="javascript:void(0);" id="contact_form" name="contact-form" method="post">
              <div class="row">
                <div class="col-sm-6">
          <div class="form-group">
                    <input name="name" id="name" class="form-control" placeholder="Name" type="text">
                  </div>
                </div>
        <div class="col-sm-6">
                  <div class="form-group">
                    <input name="email" id="email" class="form-control" placeholder="Email Address" type="email">
                  </div>
                </div>
              </div>
      <div class="form-group">
                <input name="subject" id="subject" class="form-control" placeholder="Subject" required="" type="text">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required=""></textarea>
              </div>
              <div>
                <p id="submit"><button type="button" onclick="return ajaxmailcontact();" class="submit-bt2">Send Now </button>
        </p>
              </div>
      <!-- <div id="name_error" class="error">Please enter your name.</div>
      <div id="email_error" class="error">Please enter your valid email.</div>
      <div id="subject_error" class="error">Please enter your subject.</div>
      <div id="message_error" class="error">Please enter your message.</div>
      <div id="mail_success" class="success">Your message has been sent successfully.</div>
              <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div> -->
            </form>
          </div>
          <div class="col-sm-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="contact-info">
              <p>Bangalore Office</p>
              <br>
              <ul class="address">
                <li><i class="fa fa-map-marker"></i><span>Address : </span> 59/60, 4th Cross, above Karnataka Bank, near Shopwell Supermarket, Gubbalala Main Road, Uttarahalli - 560061</li>
                <li><i class="fa fa-phone"></i><span>Phone :</span> +91 80509 06021</li>
			    <li><i class="fa fa-envelope"></i><span>Email : </span><a href="mailto:info@galaxydesignstudio.com"> &nbsp;info@galaxydesignstudio.com</a></li>
                <li><i class="fa fa-globe"></i><span>Website : </span><a href="http://galaxydesignstudio.com">Galaxy Design Studio</a></li>
              </ul>
            </div>

            <br><br>

            <div class="contact-info">
              <p>Chennai Office</p>
              <br>
              <ul class="address">
                <li><i class="fa fa-map-marker"></i><span>Address : </span> Old door no W-23,new door no W-19,7th Street ,Annanagar Chennai - 600040</li>
                <li><i class="fa fa-phone"></i><span>Phone :</span> +91 80509 06021ss</li>
                <li><i class="fa fa-envelope"></i><span>Email : </span><a href="mailto:info@galaxydesignstudio.com"> &nbsp;info@galaxydesignstudio.com</a></li>
                <li><i class="fa fa-globe"></i><span>Website : </span><a href="http://galaxydesignstudio.com">Galaxy Design Studio</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br><br>
