<div class="height_fill"></div>
<section class="container-fluid about">
    <div class="container">
      <div class="row about-products  visible-lg">
        <div class="col-md-3">
          <img src="assets/images/about-kitchen.png" alt="" class="img-responsiv">
          <div class="overlay">
            <h3><a href="javascript:void(0);">KITCHENS</a></h3>
            <img src="assets/images/about-product-devider.png" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <img src="assets/images/about-wardrobes.png" alt="" class="img-responsiv">
          <div class="overlay">
            <h3><a href="javascript:void(0);">WARDROBES</a></h3>
            <img src="assets/images/about-product-devider.png" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <img src="assets/images/about-tv-units.png" alt="" class="img-responsiv">
          <div class="overlay">
            <h3><a href="javascript:void(0);">TV UNITS</a></h3>
            <img src="assets/images/about-product-devider.png" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <img src="assets/images/about-others.png" alt="" class="img-responsiv">
          <div class="overlay">
            <h3><a href="javascript:void(0);">OTHERS</a></h3>
            <img src="assets/images/about-product-devider.png" alt="">
          </div>
        </div>
      </div>
       <!--visible-xs -->
      <div class="row about-products  hidden">
        <div class="col-md-3 text-center">
          <h3><a href="javascript:void(0);">KITCHENS</a></h3>
        </div>
        <div class="col-md-3 text-center">
          <h3><a href="javascript:void(0);">WARDROBES</a></h3>
        </div>
        <div class="col-md-3 text-center">
          <h3><a href="javascript:void(0);">TV UNITS</a></h3>
        </div>
        <div class="col-md-3 text-center">
          <h3><a href="javascript:void(0);">OTHERS</a></h3>
        </div>
      </div>

      <div class="row
      ">
        <div class="col-md-12">
          <h1>Introducing modular kitchen designs from Galaxy Design Studio</h1>
          <p>Galaxy Design studio is your one-stop solution for all your gamut of home and office interior designing needs. Be it, envisioning the dreams of your ideal kitchen, living room, bedroom for your perfect abode and office spaces made to come alive by a team of people with their honed professional expertise who meet all your needs in one place.</p>
          <p>Our make-to-order service specifically captures all your minuscule requirements by aligning to the tailor-made exquisite European style and/or authentic Indian style of interior designing solutions for your domicile and office spaces. We believe in engaging effectual communication and cost-effective solutions while leaving you behind with a wondrous experience throughout the process to fetch you the best results.</p>
		  <p>You get to chose from the vast expanse of interior designing solutions that is not only limited to modular kitchens, wardrobes, vanities, ceilings, Tv units, furniture and much more that diligently employs only the skilled professionals to felicitously fit in your expectations. </p>
          <p>Galaxy Design Studios (Bengaluru/India) is a venture that finds its roots from the reputed Galaxy Kitchen Dubai (Galaxy Group), Dubai who already have won innumerable laurels and trust of customers from around the world by exhibiting impeccable work in the world of interior designing solutions for over a decade.</p>
          <p>Galaxy Design Studios was started with four members, who all shared the same dream of creating luxury, cost-effective lifestyle brand that enables the needs of the prestigious “Jubilant Indian Customer”.  We meet the needs/wants of our customers whether it be commercial and residential sector with a clear unified vision of delivering elite products and premium quality solutions. under one roof. Galaxy Design Studios was started with four members, who all shared the same dream of creating luxury, cost-effective lifestyle brand that enables the needs of the prestigious “Jubilant Indian Customer”.  We meet the needs/wants of our customers whether it be commercial and residential sector with a clear unified vision of delivering elite products and premium quality solutions. under one roof.</p>
        </div>
      </div>
    </div>
  </section>

  <br><br><br>
