    <!--Page Title-->
    <section class="page-title" style="background-image:url(/assets/images/background/3.jpg);">
      <div class="auto-container">
          <div class="inner-container clearfix">
              <div class="title-box">
                  <h1>TV UNIT</h1>
                  <!--span class="title">The Interior speak for themselves</span-->
              </div>
              <!--ul class="bread-crumb clearfix">
                  <li><a href="index-2.html">Home</a></li>
                  <li>Tv Units</li>
              </ul-->
          </div>
      </div>
  </section>
  <!--End Page Title-->

  <!-- Projects Section -->
  <section class="projects-section alternate">
      <div class="auto-container">
           <!--MixitUp Galery-->
          <div class="mixitup-gallery">
              <!--Filter-->
              <div class="filters text-center clearfix">
                     <ul class="filter-tabs filter-btns clearfix">
                      <li class="active filter" data-role="button" data-filter="all">All</li>
                      <li class="filter" data-role="button" data-filter=".commercial">INDIAN STYLE</li>
                      <li class="filter" data-role="button" data-filter=".landescape">EUROPEAN STYLE</li>
                  </ul>
              </div>

              <div class="filter-list row">
                  <!-- Project Block -->
                  <div class="project-block all mix interior architecture landescape col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-1.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape architecture col-lg-8 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-2.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-6 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-3.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape commercial architecture col-lg-6 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-4.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-5.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape commercial interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-6.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-7.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-7.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <br><br>

          <!--Post Share Options-->
          <!-- <div class="styled-pagination">
              <ul class="clearfix">
                  <li class="prev-post"><a href="#"><span class="fa fa-long-arrow-left"></span> Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="next-post"><a href="#"> Next <span class="fa fa-long-arrow-right"></span> </a></li>
              </ul>
          </div> -->
      </div>
  </section>

  
<section class="container-fluid advantage-inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="box-sizing: border-box; margin: 0px 0px 30px; font-size: 30px; font-family: &#039;Open Sans&#039;, sans-serif; font-weight: lighter; line-height: 1.1; color: #00abd6;">Modern TV Units, Wall Units, and more</h1>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">A room is designed keeping in mind an individual’s needs and desires. A TV Unit in your living room spruces up the entire look and feel of the room. Galaxy Design Studio creates TV units that are chic and contemporary, yet functional with soft closing drawers, et al.</p>

<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Are you looking for chic and minimalistic modern TV Units for your living room and bedroom? Or you prefer TV Units with an exciting bookshelf to show off your refined taste in books? Well, whatever is your taste, there's certainly a piece of Galaxy Design Studio TV Units or Wall Units that will match it.</p>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Galaxy Design Studio presents a collection of contemporary TV Units. Each of these units is designed keeping in mind the sophistication and luxury that is a part of all things Galaxy Design Studio. Each key component of your TV Unit or Side Unit is tested multiple times to satisfy our world-class quality benchmarks.</p>

<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">All Galaxy Design Studio TV Units & Wall Units are aesthetic yet functional to suit Indian homes as well. What’s more? You can opt for a personalized TV unit that reflects your persona. Simply choose the desired size, material & style to get started.</p>

        </div>
    </div>
	</div>
</section>

<br><br><br>