<section class="container-fluids">
  <div class="pattern-layer paroller" data-paroller-factor="0.10" data-paroller-factor-lg="0.10" data-paroller-factor-md="0.10" data-paroller-factor-sm="0.10" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image: url(&quot;assets/images/background/pattern-2.png&quot;); transform: translateX(16px); transition: transform 0s linear 0s; will-change: transform;"></div>
  <div class="outer-section">
    <div class="clearfix">

      <!-- Left Column -->
      <div class="left-column">
        <div class="inner-column clearfix">
          <!-- Sec Title -->
          <div class="sec-title">
            <div class="inner-title">
              <div class="title">Branded Services</div>
              <h2>We Offers Ideas With Impressive Details .</h2>
            </div>
          </div>
          <div class="text">We ensure to take the utmost care of the infinitesimal details that is suggested to us while providing the interior designing solutions matching your needs.</div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <div class="inner-column">
          <div class="three-item-carousel owl-carousel owl-theme owl-loaded owl-drag">

            <!-- Services Block Two -->


            <!-- Services Block Two -->


            <!-- Services Block Two -->


            <!-- Services Block Two -->


            <!-- Services Block Two -->


            <!-- Services Block Two -->


          <div class="owl-stage-outer owl-height" style="height: 378px;"><div class="owl-stage" style="transform: translate3d(-1709px, 0px, 0px); transition: all 0.7s ease 0s; width: 4220px;"><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-4.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Wardrobes</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-4.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-5.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Kitchens</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-5.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-6.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Automation</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-6.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-4.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Kitchens</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-4.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-5.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Wardrobes</a></h3>
                                          <div class="links-box">
                                            <a class="link" href=""><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-5.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-6.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Automation</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-6.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-4.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Wardrobes</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-4.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-5.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Kitchen</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-5.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-6.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Automation</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-6.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-4.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Wardrobes</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-4.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-5.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Kitchen</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-5.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 268.333px;"><div class="services-block-two">
              <div class="inner-box">
                <div class="image">
                  <img src="assets/images/home-service/service-6.jpg" alt="">
                  <div class="overlay-box">
                    <h3><a href="">Automation</a></h3>
                                          <div class="links-box">
                                            <a class="link" href="/product/kitchen"><span class="fa fa-link"></span></a>
                                              <a class="link lightbox-image" href="images/service-6.jpg"><span class="fa fa-search"></span></a>
                                          </div>
                  </div>
                </div>
              </div>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><span></span></div><div class="owl-next"><span></span></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>


          <div class="image-layer" style="background-image:url(assets/images/1a.jpg)"></div>
        </div>
      </div>

    </div>
  </div>
</section>
