<!-- <div class="margin-top-100">
  <app-gallery></app-gallery>
</div> -->

<!-- <app-new-collection></app-new-collection>
<app-deal-of-day></app-deal-of-day>
<app-hot-deals></app-hot-deals> -->

<app-home-banner></app-home-banner>

<section class="container-fluid video">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="video-content">
        <h1>Galaxy Modular Kitchens, TV Units & Wardrobes in India</h1>
        <p>Galaxy Design Studios (Bengaluru/India) is a venture that finds its roots from the reputedGalaxy Kitchen Dubai (Galaxy Group), Dubai who already have won innumerable laurels and trust of customers from around the world by exhibiting impeccable work in the world of interior designing solutions for over a decade.</p>
		<p>Galaxy Design Studios was started with four members, who all shared the same dream of creating luxury, cost-effective lifestyle brand that enables the needs of the prestigious “Jubilant Indian Customer”.  We meet the needs/wants of our customers whether it be commercial and residential sector with a clear unified vision of delivering elite products and premium quality solutions. under one roof. </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
                <!-- <iframe class="col-xs-12" src="https://www.youtube.com/watch?v=4JY6Ae4CdRI&feature=youtu.be" height="350" frameborder="0" allowfullscreen></iframe> -->
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/4JY6Ae4CdRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <!-- <img src="images/video-img.png" alt="" class="img-responsive"> -->
    </div>

  </div>
</section>

<section class="container-fluid advantage">
  <h2><a href="advantage.html">Advantages</a></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink hidden ">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-1.png" alt="" class="img-responsive">
              <p class="white-color">ON TIME DELIVERY</p>
            </a>
          </div>
          <!-- <div class="col-md-1 col-sm-1 col-xs-6 homeLink mobileHidden">

          </div> -->
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-2.png" alt="" class="img-responsive">
              <p class="white-color">LIFE TIME WARRANTY</p>
              </a>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-3.png" alt="" class="img-responsive">
              <p class="white-color">FREE SERVICE</p>
              </a>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-4.png" alt="" class="img-responsive">
              <p class="white-color">TECHNOLOGY</p>
              </a>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-5.png" alt="" class="img-responsive">
              <p class="white-color">VERTICALLY INTEGRATED</p>
              </a>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6 homeLink">
            <a href="/advantage">
              <img src="assets/images/advantage-icon-6.png" alt="" class="img-responsive">
              <p class="white-color">FUTURISTIC DESIGN</p>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container-fluid products">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/product-kitchen.png" alt="" class="img-responsive mobile-space">
      <div class="overlay">
        <div class="product-heading-box">
          <h3>KITCHENS</h3>
          <img src="assets/images/product-dvdr.png" alt="">
          <a href="kitchens.html">More Information</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="assets/images/product-wardrobes.png" alt="" class="img-responsive mobile-space">
      <div class="overlay">
        <div class="product-heading-box">
          <h3>WARDROBES</h3>
          <img src="assets/images/product-dvdr.png" alt="">
          <a href="wardrobes.html">More Information</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="assets/images/product-tv-unit.png" alt="" class="img-responsive mobile-space">
      <div class="overlay">
        <div class="product-heading-box">
          <h3>TV UNITS</h3>
          <img src="assets/images/product-dvdr.png" alt="">
          <a href="tv-units.html">More Information</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="assets/images/product-others.png" alt="" class="img-responsive mobile-space">
      <div class="overlay">
        <div class="product-heading-box">
          <h3>OTHERS</h3>
          <img src="assets/images/product-dvdr.png" alt="">
          <a href="others.html">More Information</a>
        </div>
      </div>
    </div>

  </div>
</section> -->

<app-home-service></app-home-service>

<div class="container-fluid our-designers">
  <div class="row">
    <div class="col-md-12">
      <h2>OUR DESIGNERS</h2>
    </div>
  </div>
</div>

<div class="container-fluid our-designers-row-1">
  <div class="row">
    <div class="col-md-8">
      <img src="assets/images/our-designer-img-1.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-4">
        <h3>SANTOSH SHETTY</h3>
        <img src="assets/images/designer-devdr.png" alt="" class="img-responsive">
		<p class="text-justify">Brings over 15 years of experience in designing interiors for home and office spaces in Dubai. He is Head of renowned Galaxy Furniture, Galaxy Aluminum.
			Currently heads 2 Interior Designing Showrooms and a furniture manufacturing establishment in Dubai.	</p>
    </div>
  </div>
</div>

<div class="container-fluid our-designers-row-2">
  <div class="row">
      <div class="col-md-4">
          <h3>SAMPATH SHETTY</h3>
          <img src="assets/images/designer-devdr.png" alt="" class="img-responsive">
          <p class="text-justify">An IT professional who spent two decades of his early years in adding value of the IT sector.Established “Quality Point”, a firm that transformed the world of interior designing by infusing the principles of IT project management.</p>
      </div>
    <div class="col-md-8">
      <img src="assets/images/our-designer-img-3.png" alt="" class="img-responsive">
    </div>

  </div>
</div>

<div class="container-fluid our-designers-row-1">
  <div class="row">
    <div class="col-md-8">
      <img src="assets/images/our-designer-img-3.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-4">
        <h3>SHILPA SHETTY</h3>
        <img src="assets/images/designer-devdr.png" alt="" class="img-responsive">
          <p class="text-justify">Currently the esteemed Director of Vishal Glazers Pvt Limited. Has over 14yrs of experience under the belt as an eminent Interior Designer.
		   Presently catering to huge clientele base in Bengaluru and Chennai.</p>
    </div>
  </div>
</div>
<div class="container-fluid our-designers-row-2">
    <div class="row">
        <div class="col-md-4">
            <h3>GOVIND PB</h3>
            <img src="assets/images/designer-devdr.png" alt="" class="img-responsive">
         <p class="text-justify">Having an experience of over a decade with treasured expertise in Hardware, Kitchen accessories, laminates&plywood. Demonstrated professional expertise working with the elite European appliances and accessories in interior solutions.</p>
        </div>
      <div class="col-md-8">
        <img src="assets/images/our-designer-img-3.png" alt="" class="img-responsive">
      </div>

    </div>
  </div>

<!--ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="myModalLabel">Request a Callback</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-sm-12 text-center">
            If you have any concerns about our service, <br>write to us at <a href="mailto:biz@blauliving.com">info@galaxydesignstudio.com</a><br><br>
        </div>
    </div>
    <div class="quote-form">
      <form class="form-horizontal" action="#" method="post" id="popupenqForm">
        <div class="form-group">
          <label for="popfname" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control simplebox" name="popfname" id="popfname" autocomplete="off">
            <div id="popfname_validation"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="popemail" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control simplebox" name="popemail" id="popemail" autocomplete="off">
            <div id="popemail_validation"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="popphone" class="col-sm-3 control-label">Mobile</label>
          <div class="col-sm-9">
            <input type="text" class="form-control simplebox" name="popphone" id="popphone" autocomplete="off">
            <div id="popphone_validation"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="cityName" class="col-sm-3 control-label">City</label>
          <div class="col-sm-9">
            <input type="text" class="form-control simplebox cityName" name="cityName" id="cityName" autocomplete="off">
            <div id="cityName_validation"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="popProduct" class="col-sm-3 control-label">Product</label>
          <div class="col-sm-9">
            <select class="form-control simplebox" name="popProduct" id="popProduct">
                <option value="1">Kitchens</option>
                <option value="2">Wardrobes</option>
                <option value="3">TV Units</option>
                <option value="4">Others</option>
            </select>
            <div id="popProduct_validation"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="popmessage" class="col-sm-3 control-label">Comments</label>
          <div class="col-sm-9">
            <textarea class="form-control simplebox" rows="3" name="popmessage" id="popmessage" autocomplete="off"></textarea>
            <div id="popmessage_validation"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-warning" name="popsubmit" (click)="closeModal()">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template-->


<!-- <div class="modal fade" id="popupEnquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Request a Callback</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                If you have any concerns about our service, <br>write to us at <a href="mailto:biz@blauliving.com">biz@blauliving.com</a><br><br>
            </div>
        </div>
        <div class="quote-form">
          <form class="form-horizontal" action="#" method="post" id="popupenqForm">
            <div class="form-group">
              <label for="popfname" class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control simplebox" name="popfname" id="popfname" autocomplete="off">
                <div id="popfname_validation"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="popemail" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control simplebox" name="popemail" id="popemail" autocomplete="off">
                <div id="popemail_validation"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="popphone" class="col-sm-3 control-label">Mobile</label>
              <div class="col-sm-9">
                <input type="text" class="form-control simplebox" name="popphone" id="popphone" autocomplete="off">
                <div id="popphone_validation"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="cityName" class="col-sm-3 control-label">City</label>
              <div class="col-sm-9">
                <input type="text" class="form-control simplebox cityName" name="cityName" id="cityName" autocomplete="off">
                <div id="cityName_validation"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="popProduct" class="col-sm-3 control-label">Product</label>
              <div class="col-sm-9">
                <select class="form-control simplebox" name="popProduct" id="popProduct">
                    <option value="1">Kitchens</option>
                    <option value="2">Wardrobes</option>
                    <option value="3">TV Units</option>
                    <option value="4">Others</option>
                </select>
                <div id="popProduct_validation"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="popmessage" class="col-sm-3 control-label">Comments</label>
              <div class="col-sm-9">
                <textarea class="form-control simplebox" rows="3" name="popmessage" id="popmessage" autocomplete="off"></textarea>
                <div id="popmessage_validation"></div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default" name="popsubmit">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade in"></div> -->


<!--div class="container-fluid franchise" id="scroll-to">
  <a href="#"><img src="assets/images/franchise-img.png" alt="" class="img-responsive"></a>
</div-->

