    <!--Page Title-->
    <section class="page-title" style="background-image:url(/assets/images/background/11.jpg);">
      <div class="auto-container">
          <div class="inner-container clearfix">
              <div class="title-box">
                  <h1>KITCHENS</h1>
                  <!--span class="title">The Interior speak for themselves</span-->
              </div>
              <!--ul class="bread-crumb clearfix">
                  <li><a href="index-2.html">Home</a></li>
                  <li>Kitchen</li>
              </ul-->
          </div>
      </div>
  </section>
  <!--End Page Title-->

  <!-- Projects Section -->
  <section class="projects-section alternate">
      <div class="auto-container">
           <!--MixitUp Galery-->
          <div class="mixitup-gallery">
              <!--Filter-->
              <div class="filters text-center clearfix">
                  <ul class="filter-tabs filter-btns clearfix">
                      <li class="active filter" data-role="button" data-filter="all">All</li>
                      <li class="filter" data-role="button" data-filter=".commercial">INDIAN STYLE</li>
                      <li class="filter" data-role="button" data-filter=".landescape">EUROPEAN STYLE</li>
                  </ul>
              </div>

              <div class="filter-list row">
                  <!-- Project Block -->
                  <div class="project-block all mix interior architecture landescape col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-1.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape architecture col-lg-8 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-2.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-6 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-3.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape commercial architecture col-lg-6 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-4.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-5.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape commercial interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-6.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block all mix landescape interior col-lg-4 col-md-6 col-sm-12">
                      <div class="image-box">
                          <figure class="image"><img src="assets/images/gallery/2-7.jpg" alt=""></figure>
                          <div class="overlay-box">
                              <h4><a href="project-detail.html">Laxury Home <br>Project</a></h4>
                              <div class="btn-box">
                                  <a href="assets/images/gallery/2-7.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                  <a href="project-detail.html"><i class="fa fa-external-link"></i></a>
                              </div>
                              <span class="tag">Architecture</span>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <br><br>
		  
		  
<section class="container-fluid advantage-inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="box-sizing: border-box; margin: 0px 0px 30px; font-size: 30px; font-family: &#039;Open Sans&#039;, sans-serif; font-weight: lighter; line-height: 1.1; color: #00abd6;">Modular Kitchens, Customized Furniture</h1>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Whether it&#039;s U shaped modular kitchens that you&#039;ve fallen in love with, or L shaped modular kitchens that your neighbors own, you can now create your own masterpiece. What&#039;s more? Well, the kitchen you create will be created using our patented technology just the way you envisioned it.</p>
<h2 style="box-sizing: border-box; font-family: &#039;Open Sans&#039;, sans-serif; font-weight: lighter; line-height: 1.1; color: #333333; margin-top: 20px; margin-bottom: 10px; font-size: 25px;">Premium Modular kitchens for discerning homes</h2>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Galaxy Design Studio is a groundbreaking range of premium modular kitchens, wardrobes and cabinets. Everything we create is made using sophisticated &amp; award-winning design software, tools and materials.</p>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Like every product that bears the Galaxy Design Studio name, our premium modular kitchens include key components that have been tested not once or twice but multiple times to satisfy our world-class quality benchmark.</p>
<h2 style="box-sizing: border-box; font-family: &#039;Open Sans&#039;, sans-serif; font-weight: lighter; line-height: 1.1; color: #333333; margin-top: 20px; margin-bottom: 10px; font-size: 25px;">Modular kitchen in India</h2>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Galaxy Design Studio modular kitchens in India are surprisingly affordable. And that&#039;s because we manufacture almost every element at our own facilities. Our range of modular kitchens, wardrobes, TV units and other furniture is the perfect accessory for every home. Be it kitchen furniture or bedroom furniture, customize your rooms the way you like it.</p>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Each house is designed keeping in mind the aesthetics and elements of an individual&rsquo;s personality. It&rsquo;s more like an extension of personality. And a modular kitchen is no different. Just that it has to be aesthetically appealing and functional both.</p>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">What also sets us apart is the fact that we manufacture limited number of pieces for each design. Well, the idea is to not be to repetitive, and refresh our range consistently.</p>
<p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-family: &#039;Open Sans&#039;, sans-serif; font-size: 14px;">Your home isn&rsquo;t complete without that touch of creativity by Galaxy Design Studio. Design a beautiful modular kitchen or wardrobe that is unlike any other. Our international experts will be more than happy to help you create that masterpiece you always wanted.</p>                </div>
        </div>
    </div>
</section>

<br><br><br>

          <!--Post Share Options-->
          <!-- <div class="styled-pagination">
              <ul class="clearfix">
                  <li class="prev-post"><a href="#"><span class="fa fa-long-arrow-left"></span> Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="next-post"><a href="#"> Next <span class="fa fa-long-arrow-right"></span> </a></li>
              </ul>
          </div> -->
      </div>
  </section>
