<div class="height_fill"></div>
<br><br><br><br>
<section class="container-fluid inner-advantage">
    <!--<h1>Advantages of Modular Kitchen Designs</h1>-->

    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 hidden">
          <div class="advantage-holder">
            <img src="assets/images/inner-advantage-icon-1.png" alt="">
            <h2>7-DAY DELIVERY</h2>
            <p>We, at Galaxy Design Studio, promise delivery in just 7 days. So, you don’t have to wait for long to see your home transformed with a Galaxy Design Studio masterpiece. Do remember to look for the “7-Day Delivery” tag on the selective range of kitchens we showcase. Some complex orders can take longer though. But we promise to make sure that they are delivered as promised.</p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="advantage-holder">
            <img src="assets/images/inner-advantage-icon-2.png" alt="">
            <h2>LIFE TIME GUARANTEE</h2>
            <p>Galaxy Design Studio offers a lifetime guarantee of 5 + 5 years to all future and existing customers. When used with some basic care, a Galaxy Design Studio product can last for decades, rather a lifetime. Feel free to connect with us to understand the best possible care routine for your Galaxy Design Studio furniture.</p>
            <!--p><a href="life-time-warranty.html">Read More</a></p-->
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantage-holder">
            <img src="assets/images/inner-advantage-icon-3.png" alt="">
            <h2>FREE SERVICE</h2>
            <p>At Galaxy Design Studio, our priority is to make sure your favourite piece of furniture looks new, always. That’s exactly why we offer 4 free services within 2 years for your modular kitchen units, TV units and wardrobes at 48 hours notice*. But that’s not all. This is just a sweet beginning to a lifetime of our bond with you. After you consume your free services, we will still be a call away.<br><br>
            * Needs to be within city limits and close to a franchisee.
            </p>
            <!--p><a href="free-services.html">Read More</a></p-->
          </div>
        </div>

         <div class="col-md-4">
          <div class="advantage-holder">
            <img src="assets/images/inner-advantage-icon-4.png" alt="">
            <h2>TECHNOLOGY</h2>
            <p>Our cutting-edge technology ensures that every unit you source from us is nothing less than perfect. We have integrated patented software and hardware solutions to create a product that’s nothing short of perfect. What’s more? Well, you can also use our 60-seconds configurator tool to design your own masterpiece. And we’ll build it for you, ground up.</p>
            <!--p><a href="technology.html">Read More</a></p-->
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="advantage-holder">
            <img src="assets/images/vertically-integrated.png" alt="">
            <h2>VERTICALLY INTEGRATED</h2>
            <p>All our systems and processes are vertically integrated to help you with an experience that’s truly unmatched. The idea is to deliver the best product from design to development, installation to after-sales support.</p>
            <!--p><a href="verically-integrated.html">Read More</a></p-->
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantage-holder">
            <img src="assets/images/inner-advantage-icon-5.png" alt="">
            <h2>FUTURISTIC DESIGN</h2>
            <p>We, at Galaxy Design Studio, strive to make sure that our designs are created keeping a close tab on the future. So we never really go off the radar. That’s because we don’t follow trends. We create them.</p>
            <!--p><a href="futuristic-design.html">Read More</a></p-->
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>

    </div>

  </section>

  <br><br><br>
