
<!-- Slider main container -->
<div class="home-main-gallery-wrapper">
  <div class="home-main-gallery swiper-container" id="home-main-gallery">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><a href="javascript:void(0);"><img src="../../../../../assets/images/banner/main-banner-bg.jpg" alt="banner3" /></a></div>
          <!-- <div class="swiper-slide"><a href="javascript:void(0);"><img src="../../../../../assets/images/banner/banner1.jpg" alt="banner1" /></a></div>
          <div class="swiper-slide"><a href="javascript:void(0);"><img src="../../../../../assets/images/banner/banner2.jpg" alt="banner2" /></a></div>
          <div class="swiper-slide"><a href="javascript:void(0);"><img src="../../../../../assets/images/banner/banner4.jpg" alt="banner4" /></a></div>
          <div class="swiper-slide"><a href="javascript:void(0);"><img src="../../../../../assets/images/banner/banner5.jpg" alt="banner5" /></a></div> -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
  </div>
  <div class="dot-background dot-home-gallery-position">
  </div>
</div>
