@import './assets/scss/variables';
@import url("../node_modules/primeng/resources/themes/omega/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import '~bootstrap/dist/css/bootstrap.min.css';
// @import './assets/scss/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import "~swiper/dist/css/swiper.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~nouislider/distribute/nouislider.css";
@import './assets/scss/owl.carousel.css';
@import './assets/scss/owl.theme.css';
@import './assets/scss/jquery.fancybox.min.css';


@font-face {
  font-family: 'hindregular';
  src: url('./assets/fonts/hind-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/hind-regular-webfont.woff') format('woff'),
       url('./assets/fonts/Hind-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hindbold';
  src: url('./assets/fonts/hind-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/hind-bold-webfont.woff') format('woff'),
       url('./assets/fonts/Hind-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*
Template Name: E-SHOP HTML E-Commerce Template
Author: yaminncco

Colors:
	Body 		  : #4A4E5A
	Headers 	: #30323A
	Primary 	: #F8694A
	Dark 		  :	#30323A
	Grey 		  : #DADADA #F6F7F8

Fonts: Hind

Table OF Contents
------------------------------------
1 > GENERAL
------ typography
------ Buttons
------ Inputs
------ Lists
------ Sections
------ Breadcrumb
2 > HEADER
------ Top header
------ Logo
------ Search header
------ Account header
------ Cart header
3 > NAVIGATION
------ Category nav
------ Menu nav
------ Dropdowns
------ Mobile Nav
4 > BANNERS
5 > HOME SLIDER
6 > PRODUCT
------ Single product
------ Widget product
------ Product slick
7 > PRODUCTS PAGE
------ Aside
------ Store
8 > PRODUCT DETAILS PAGE
------ Product view
------ Product details
------ Product tab
9 > CHECKOUT PAGE
10 > FOOTER
11 > SLICK
------ Arrows
------ Dots
12 > RESPONSIVE
------------------------------------*/

/*=========================================================
	01 -> GENERAL
===========================================================*/

/*----------------------------*\
	Typography
\*----------------------------*/

body {
  font-family: 'Hind', sans-serif;
  color: #4A4E5A;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #30323A;
  margin: 0 0 10px;
  font-weight: 700;
}

a {
  color: #30323A;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  color: #F8694A;
  text-decoration: none;
  outline: none;
}

.primary-color {
  color: #F8694A;
}

.white-color {
  color: #FFF;
}

.font-weak {
  font-weight: 400;
}

strong {
  color: #30323A;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #DADADA;
}
.height_fill {
  height: 130px;
}
/*----------------------------*\
	Buttons
\*----------------------------*/

.main-btn, .primary-btn {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px;
  border: none;
}

.main-btn {
  color: #30323A;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}

.main-btn:hover, .main-btn:focus {
  color: #F8694A;
  -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
  box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

.primary-btn {
  color: #FFF;
  background-color: #F8694A;
}

.primary-btn:hover, .primary-btn:focus {
  color: #FFF;
  background-color: #30323A;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
  box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

textarea.input {
  padding: 15px;
}

.input-checkbox .caption {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s max-height;
  transition: 0.3s max-height;
}

.input-checkbox>label {
  color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, .input-checkbox input[type="radio"]:checked+label+.caption {
  max-height: 800px;
}

/*----------------------------*\
	Lists
\*----------------------------*/

.list-links .list-links-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

.list-links li>a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:before {
  content: "\f105";
  position: absolute;
  left: 0px;
  font-family: FontAwesome;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
  color: #F8694A;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
  opacity: 1;
  visibility: visible;
}

/*----------------------------*\
	Sections
\*----------------------------*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-grey {
  background: #F6F7F8;
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #DADADA;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #F8694A;
}

/*----------------------------*\
	Breadcrumb
\*----------------------------*/

#breadcrumb {
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
}

.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
  margin: 0;
}

.breadcrumb>.active {
  color: #F8694A;
}

.breadcrumb>li+li:before {
  color: #DADADA;
}


/*=========================================================
	04 -> BANNERS
===========================================================*/

.banner {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner>img {
  width: 100%;
}

.banner.banner-1 .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.banner h1 {
  font-size: 46px;
  text-transform: uppercase;
}

/*=========================================================
	05 -> HOME SLIDER
===========================================================*/

#home .home-wrap {
  margin-left: 270px;
}

#home-slick .banner {
  margin: 0px;
}



.banner-carousel .owl-nav{
  position: absolute;
  right: 30%;
  bottom: -80px;
  z-index: 99;
}
.owl-dots {
  display: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  display: inline-block;
  padding-left: 25px !important;
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  padding-top: 2px !important;
  background-color: #222222;
  z-index: 9;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}
.owl-carousel .owl-nav button.owl-next:before,
.owl-carousel .owl-nav button.owl-prev:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 60px;
  border: 2px solid #bbbbbb;
  border-right: 0;
  content: "";
  z-index: -1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.owl-carousel .owl-nav button.owl-next:before {
  left: auto;
  right: -25px;
  border: 2px solid #bbbbbb;
  border-left: 0;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #ff8a00;
}
.owl-carousel .owl-nav button.owl-next:hover:before {
  color: #ff8a00;
  border: 2px solid #ff8a00;
  border-left: 0;
}
.owl-carousel .owl-nav button.owl-prev:hover:before {
  color: #ff8a00;
  border: 2px solid #ff8a00;
  border-right: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #ff8a00;
  text-decoration: none;
}
.banner-carousel .owl-prev span {
  margin-right: 5px;
}
/*=========================================================
	12 -> RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
  #home .home-wrap {
    margin-left: 0px;
  }
  #aside {
    margin-bottom: 60px;
  }
  .product-reviews {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner h1 {
    font-size: 36px;
  }
  .store-filter .pull-right, .store-filter .pull-left {
    float: none !important;
  }
  .store-filter .pull-right {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}

// -------------- My Style ---------------
/*
.verticle-center-parent {
  position: relative;
}
.verticle-center-element {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  align-items: stretch;
}
.wrapper-inner {
  display: flex;
  align-items: stretch;
}
.content {
  width: 100%;
  min-height: 100vh;
}
.content-fixed-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}
.app-footer {
  height: 142px;
}
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

.app-main {
  overflow-y: auto;
}
.app-body-height {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
*/
@media only screen and (max-width: 1439px){
  .box-layout .page-wrapper{
		border: 0;
	}
}

@media only screen and (max-width: 1139px){

}
